<div class="col-md-6 offset-md-3">
    <h3>Create New Syllabus</h3>
    <form >
        <div class="form-group">
          <label for="des">Syallbus Description</label>
          <input type="text" class="form-control" placeholder="Enter description" id="des" name="des" [(ngModel)]="syllabus.description" >
        </div>


        <div class="form-group">
          <label for="desd">Syallbus Description Details</label>
          <input type="text" class="form-control" placeholder="Enter description details" id="desd" name="desd" [(ngModel)]="syllabus.description_details" >
        </div>
        
    
        
        <button type="submit" (click)="onSyllabus()" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
